# Variáveis secretas
.env

# Cache do Python
__pycache__/
*.pyc

# Arquivos que não devem ser comitados
.DS_Store
Video.mov
slides.pptx
static/fotoperfil.png
static/claudio.jpg

# Outros
*.log
*.sqlite3
instance/
enviar_news_email.py